  main {
    background-color: rgb(195, 241, 235);
    border:orange solid;
    width: 50%;

  }
  
  h1 {
    color: blue;
    font-size: 24px;
    display: flex;
    justify-content: center;
    border: blue solid;
    border-width: 5px;
  }

input:checked + span{
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

li {
    border: black solid;
}